---
layout: baselayout.njk
---

{% include '_includes/_header.liquid' %}
{% include '_includes/_about.liquid' %}
{% include '_includes/_donate.liquid' %}

<div class="tsuru__list">
  {% for post in tsurus %}
    <div class="tsuru__container">
      <div class="tsuru">
        <div
          img-loading
          il-thumbnail="{{post.thumbnail}}"
          il-fullsize="images/{{post.image}}"
          il-width="{{post.width}}"
          il-height="{{post.height}}"
          il-aspect-ratio="{{post.width}}/{{post.height}}"
          il-main-color="{{post.mainColor}}"></div>
        <main class="tsuru__caption">
          <h3 class="tsuru__caption__date">{{ post.date.year }}/{{ post.date.month }}/{{ post.date.day }}</h3>
          <h4 class="tsuru__caption__location">{{ post.location }}</h4>
        </main>
      </div>
    </div>
  {% endfor %}
</div>

{% include '_includes/_me.liquid' %}
{% include '_includes/_footer.liquid' %}